body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/img/main.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-size: 1rem;
}

.wraper {
    margin: 0 100px 0 100px;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
}

header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 3em;
}



.logo {
    font-size: 2.2em;
    font-weight: 700;
    color: rgb(182, 108, 12);
    letter-spacing: 2px;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0 1.2em 0 1.2em;
}

nav ul li:last-child {
    display: none;
}

header form {
    width: 25em;
    height: 2em;
    display: flex;
}

header form input {
    height: 29px;
}

.search {
    width: 65%;
    height: 3.1em;
    border: 2px solid rgb(182, 108, 12);
    border-radius: 8px 0 0px 8px;
    background: transparent;
    color: #fff;
}

.submit {
    height: 2.25em;
    width: 35%;
    background-color: rgb(182, 108, 12);
    border: 2px solid rgb(182, 108, 12);
    border-radius: 0px 8px 8px 0px;
    color: #fff;
    font-size: 1.3em;
}

.submit:focus {
    background-color: rgb(182, 108, 12);
}


/* - */
.menu {
    display: none;
}

/* - */

/* ///////////////// main //////////////// */

main {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-block {
    width: auto;
}

.left-block h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 500;
}

.left-block h1 span {
    color: rgb(182, 108, 12);
    font-size: 1.2em;
    letter-spacing: 2px;
}

.left-block p{
    color: #fff;
    font-size: 1.2em;
    line-height: 1.3em;
}

.right-block {
    width: 26em;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    padding: 2em;
    border-radius: 15px;
}

.right-block form {
    display: flex;
    flex-direction: column;
}

.right-block h2 {
    color: rgb(182, 108, 12);
    text-align: center;
    font-size: 2em;
    background-color: #fff;
    font-weight: 600;
    border-radius: 10px;
    padding: 7px;
}

.right-block form input {
    margin: 1em 0;
    font-size: 1.8em;
    background-color: transparent;
    border: 0;
}

.right-block form input:nth-child(1) {
    border-bottom: solid rgb(182, 108, 12);
    color: #fff;
}

.right-block form input:nth-child(2) {
    border-bottom: solid rgb(182, 108, 12);
    color: #fff;
}

.right-block form input:nth-child(3) {
    color: #fff;
    background-color: rgb(182, 108, 12);
    border-radius: 10px;
    padding: 5px;
    font-weight: 599;
}

.right-block p {
    color: rgb(179, 179, 179);
    text-align: center;
    font-size: 1.3em;
    line-height: 1.7em;
}

.right-block p a {
    color: rgb(182, 108, 12);
}

.right-block p:last-child {
    padding: .5em;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.links a {
    font-size: 2.5em;
    color: #fff;
}




















@media (max-width: 1400px) {
    body {
        font-size: 0.7rem;
    }

    .search {
        height: 2em;
    }

}

@media (max-width: 1000px) {
    /* body {
        font-size: 0.7rem;
    } */

    .wraper {
        margin: 0;
    }

    .wrap {
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 0.6rem;
    }

    .search {
        height: 1.65em;
    }
}

@media (max-width: 800px) {
    header form {
        display: none;
    }

    /* nav {
        display: none;
    } */


    /* ////////////// */

    .menu {
        display: block;
        width: 3em;
        height: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: ease-out 0.5s;
    }

    .menu div:nth-child(1) {
        width: 100%;
        height: 4px;
        background-color: rgb(182, 108, 12);
        border-radius: 5px;
    }

    .menu div:nth-child(2) {
        width: 100%;
        height: 4px;
        background-color: rgb(182, 108, 12);
        border-radius: 5px;
    }

    .menu div:nth-child(3) {
        width: 100%;
        height: 4px;
        background-color: rgb(182, 108, 12);
        border-radius: 5px;
    }

    .menu.active div:nth-child(1) {
        background-color: #fff;
        transform-origin: left;
        transform: rotate(45deg) translate(2px, -3px);
        transition: ease-out 0.5s;
    }

    .menu.active div:nth-child(2) {
        background-color: #fff;
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }

    .menu.active div:nth-child(3) {
        background-color: #fff;
        transform: rotate(135deg) translate(-6px, 6px);
        transition: ease-out 0.5s;
    }



    .menu div:nth-child(1) {
        transform: rotate(0deg) translate(0px, 0px);
        transition: ease-out 0.5s;

    }

    .menu div:nth-child(2) {
        transform: scale(1);
        transition: ease-out 0.5s;
    }

    .menu div:nth-child(3) {
        transform: rotate(0deg) translate(0px, 0px);
        transition: ease-out 0.5s;
    }

    /* /////////// brger menu ////////////// */

    nav {
        display: block;
        position: absolute;
        width: 100%;
        top: -250px;
        left: 50%;
        transform: translate(-50%, 0);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
        text-align: center;
        padding: 20px 0 20px 0;
        transition: 0.6s;
        letter-spacing: 2px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        color: #fff;
        font-size: 1.3em;
        text-transform: uppercase;
        margin: 0 1.2em 0 1.2em;
        line-height: 30px;
    }

    nav ul li:last-child {
        display: block;
        display: flex;
        justify-content: center;
    }

    nav ul li:last-child input:first-child {
        width: 100px;
        background-color: transparent;
        border: 1px solid rgb(182, 108, 12);
        color: #fff;
        border-radius: 5px;
        font-size: 1em;
    }

    .nav.active {
        top: 0px;

    }
}

@media (max-width: 600px) {
    main {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
    }
    
    .left-block {
        text-align: center;
        margin-bottom: 50px;
    }
}